<tbody>
  <% @courses.each do |course| %>
    <tr>
      <td><%= course.course_code %> </td>
      <td><%= link_to course.course_name, course%></td>
      <td><%= course.lectures.count %></td>
    </tr>
  <% end %>
</tbody>
