/* universal */

body {
  padding-top: 30px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.element{
  .center-block()
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

.title-orange{
  color: #FBB03B;
}
.title-white{
  color: #fff;
}

.title-darkerorange{
  color: #F15A24;
}

.bg-color-orange {
  background-color: #FBB03B;
  border-bottom-color: #fff;
}

h1 {
  font-size: 2.5em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: #F15A24;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.li-custom{
  padding-right: 1.5em;
  pointer-events:none;
}

.bg-color-white{
  background-color: #fff;
  border-bottom-color: #fff;
}

.btn-style-round{
  border-radius: 24px;
}

.logo {
  color: #fff;
  font-size: 1.65em;
}

.logo:hover{
  color: #000;
}


.title-size{
  font-size: 3em;
}
