

<h1>Courses</h1>
</br>
<button type="button" class="btn btn-default" id = "btn1"><%= link_to 'All courses', courses_path %></button>
<button type="button" class="btn btn-default" id = "btn2"><%= link_to 'Only course that have lectures', :action => :index, :filter => "with_lecture"  %></button>
<table class="table table-striped">
  <thead>
    <tr>
      <th> Course code </th>
      <th> Course name </th>
      <th> Lecture amount </th>
    </tr>
  </thead>
    <div id = div1>
    <%= render 'allcourse' %>
  </div>
</table>
