<h1>All Courses</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th> Course code </th>
      <th> Course name </th>
      <th> Lecture amount </th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <% if course.lectures.any? %>
      <tr>
        <td><%= course.course_code %> </td>
        <td><%= link_to course.course_name, course%></td>
        <td><%= course.lectures.count %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
