<h1>All Courses</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th> Course code </th>
      <th> Course name </th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.course_code %> </td>
        <td><%= link_to course.course_name, course%></td>
      </tr>
    <% end %>
  </tbody>
</table>
