
<h2>Courses</h2>
</br>
<%= link_to 'All courses', courses_path ,class:"btn btn-default",id:"btn1"%>
<%= link_to 'Only course that have lectures', {action: 'index', filter: 'with_lecture'}, class: 'btn btn-default', id: 'btn2' %>
<table class="table table-striped">
  <thead>
    <tr>
      <th> Course code </th>
      <th> Course name </th>
      <th> Lecture amount </th>
    </tr>
  </thead>
    <div id = div1>
    <%= render 'allcourse' %>
  </div>
</table>

<%= will_paginate @courses, renderer: BootstrapPagination::Rails %>
