{% extends "base.html.j2" %}
{% block content %}
  <p>Welcome to index page</p>
  <p><a href="/signup">Sign Up</a></p>
  <p><a href="/login">Login</a></p>
  <p><a href="/logout">Logout</a></p>
{% endblock %}